/* helpers */
.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.ui.menu {
  margin: 0px !important;
}

.ui.card>.image, .ui.cards>.card>.image {
  width: 100%;
  height: auto;
}

.wrap {
  width: 100%;
  background: #F9F9F9;
}